.git*
.github
.gitignore
.idea
.images
.vscode
.editorconfig

dist
node_modules
volumes

config/default.yml
config/local.yml
config/test.yml

docker-compose*
*.lock

.env
.env.docker
.env.*.local

files
coverage
.next
build
.DS_Store
Thumbs.db
