{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2024",
    "paths": {
      "@app/battle-net": ["./libs/battle-net/src"],
      "@app/battle-net/*": ["./libs/battle-net/src/*"],
      "@app/configuration": ["./libs/configuration/src"],
      "@app/configuration/*": ["./libs/configuration/src/*"],
      "@app/logger": ["./libs/logger/src"],
      "@app/logger/*": ["./libs/logger/src/*"],
      "@app/pg": ["./libs/pg/src"],
      "@app/pg/*": ["./libs/pg/src/*"],
      "@app/resources": ["./libs/resources/src"],
      "@app/resources/*": ["./libs/resources/src/*"],
      "@app/s3": ["./libs/s3/src"],
      "@app/s3/*": ["./libs/s3/src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
