version: '3.8'
services:
  core:
    container_name: core
    image: ghcr.io/alexzedim/core:latest
    restart: always
    command: [ 'node', 'dist/apps/core/main.js' ]
    env_file:
      - stack.env
    networks:
      - default

  api:
    container_name: cmnw-api
    image: ghcr.io/alexzedim/core:latest
    restart: always
    command: [ 'node', 'dist/apps/api/main.js' ]
    ports:
      - '8080:8080'
    env_file:
      - stack.env
    networks:
      - default
      - cmnw

  next:
    container_name: cmnw-next
    image: ghcr.io/alexzedim/cmnw-next:latest
    restart: always
    ports:
      - '8081:8081'
    env_file:
      - stack.env
    environment:
      - PORT=8081
    networks:
      - default
      - cmnw

networks:
  default:
    name: cmnw_default
    driver: bridge
  cmnw:
    external: true
