version: '3.8'
services:
  osint:
    image: ghcr.io/alexzedim/osint:latest
    restart: always
    command: [ 'node', 'dist/apps/osint/main.js' ]
    deploy:
      replicas: 3
    env_file:
      - stack.env

  characters:
    image: ghcr.io/alexzedim/osint:latest
    restart: always
    command: [ 'node', 'dist/apps/characters/main.js' ]
    env_file:
      - stack.env

  guilds:
    image: ghcr.io/alexzedim/osint:latest
    restart: always
    command: [ 'node', 'dist/apps/guilds/main.js' ]
    env_file:
      - stack.env


  wowprogress:
    image: ghcr.io/alexzedim/osint:latest
    restart: always
    command: [ 'node', 'dist/apps/wowprogress/main.js' ]
    env_file:
      - stack.env

  warcraft-logs:
    image: ghcr.io/alexzedim/osint:latest
    restart: always
    command: [ 'node', 'dist/apps/warcraft-logs/main.js' ]
    env_file:
      - stack.env
