.git*
node_modules

Dockerfile
local.Dockerfile
arm64.Dockerfile

arm64.osint.Dockerfile
arm64.dma.Dockerfile

x64.osint.Dockerfile
x64.dma.Dockerfile

compose.db.yaml
compose.oraculum.yaml
compose.dev.oraculum.yaml

README.md
