.git*
node_modules

Dockerfile
local.Dockerfile
arm64.Dockerfile

arm64.osint.Dockerfile
arm64.dma.Dockerfile

x64.osint.Dockerfile
x64.dma.Dockerfile

docker-compose.db.yaml
docker-compose.oraculum.yaml
docker-compose.dev.oraculum.yaml

README.md
